<ion-header>
  <ion-toolbar color="primary">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"
      alt="Pokémon Logo"
   
    />
    <ion-buttons slot="end">
      
      <ion-button (click)="goToHome()" color="secondary">
        Página Principal
      </ion-button>
      
  
      <ion-button (click)="logout()" color="danger">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




  <ion-content>
  <ion-searchbar 
    [(ngModel)]="searchTerm" 
    debounce="500" 
    (ionInput)="onSearchInput()" 
    placeholder="Pesquise por Pokémon">
  </ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let pokemon of favorites">
        <ion-card (click)="goToPokemon(pokemon.name)">
          <img [src]="pokemon.imageUrl" alt="{{ pokemon.name }}" />
          <ion-card-header>
            <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="toggleFavorite(pokemon)" fill="clear">
              <ion-icon [name]="isFavorite(pokemon) ? 'heart' : 'heart-outline'"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="filteredFavorites.length === 0" class="empty-message">
    <ion-text color="medium">
      <p>Nenhum Pokémon favorito encontrado.</p>
    </ion-text>
  </div>
</ion-content>


<ion-footer>
 
</ion-footer>

